body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
}
.bg{
  width: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
nav {
  margin-top:20px;    
  float: left;     
 //border: 1px solid grey;    
}
nav:hover{
  background-color: azure;
}
.nag{
    position: relative;
    width: 1500px;
    float: right;
}
nav > a {
  text-decoration: none;
  color: yellow;
  margin: 160px;    
}
input{
    margin-left: 200px;
    border-radius: 18px;
}
.logo {
  font-size: 30px;
  color: red;
  float: left;
  margin-top: 10px;
  margin-left: 60px;
}
main{
  position: absolute;
  margin: 0;
  display: block;
  background-color: none;
  text-align: center;
  width: 100%;
}
main > p{
  color: green;
  font-size: 40px;
  margin-top: 14%;

}
.middle{
 position: absolute;
 top: 100%;
 width: 100%;
 text-align: center;
}
.bth{
  width: 50px;
  height: 50px;
  background-color: rgb(37, 158, 47);
  display: inline-block;
  border-radius: 30%;
  box-shadow: 5px 5px 10px rgb(187, 179, 179, 0.712);
}
.bth i{
  position: relative;
  top: 32%;
  font-size: 20px;
  color: rgba(187, 179, 179, 0.712);
  transition: 0.5s ease;
}
.bth i:hover{
  transform: scale(1.5) rotate(360deg);
}
